.App {
  text-align: center;
  background-color: #100C1B;
  font-size: calc(10px + 2vmin);
  color: #A193B7;
}

.header {
  background-color: black;
}

.lead {
  color: white;
}

.source{
  font-size: calc(4px + 2vmin);
}

.List {
  margin: auto;
  width: 50%;
}