.App {
  text-align: center;
  background-color: #160333;
  font-size: calc(10px + 2vmin);
  color: #A193B7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
