.Asteroid {
  text-align: center;
  background-color: #403655;
  color: #e3dae8;
  font-size: calc(10px + 2vmin);
  padding : 10px 10px 10px 10px;
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border-color: #0d0530;
  border-width: thick;
  border-style: solid;
  display: inline-block;
}

.hazardousAsteroid {
  text-align: center;
  background-color: #5a202f;
  color: #e3dae8;
  font-size: calc(10px + 2vmin);
  padding : 10px 10px 10px 10px; 
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border-color: #310711;
  border-width: thick;
  border-style: solid;
  display: inline-block;
}

.asteroidWrapper{
  color: #e3dae8;
  padding : 10px 10px 10px 10px;
  display: inline-block;
  text-align: center;
}

.asteroidName{
  text-decoration: underline;
  color: #beb8c1;
}

.hazardous{
  color: rgb(179, 0, 39);
}
